<h3><%= title %></h3>
<% if (!rows || !rows.length) { %>
  There doesn't appear to be anything here
<% } else { %>
<table>
  <thead>
    <% Object.keys(rows[0]).forEach(function (column) { %>
      <td><%= column %></td>
    <% }); %>
  </thead>
  <% rows.forEach(function (row) { %>
    <tr>
    <% for (var i in row) { %>
    <td>
      <% var out;
      try {
        out = JSON.parse(row[i]);
        out = JSON.stringify(out, null, 2);
        out = out.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        out = out.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
      } catch (e) {}
      if (out) { %>
        <%- '<pre>' + out + '</pre>' %>
      <% } else { %>
        <%= row[i] %>
      <% } %>
    </td>
    <% } %>
  </tr>
  <% }); %>
</table>
<% } %>
