<!doctype html>
<html>
<head>
  <title>Crypton data explorer</title>
  <style>
    h1 {
      font-size: 22px;
    }

    thead td {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Crypton Data Explorer</h1>
  <ul id="nav">
    <li><a href="/accounts">Accounts</a></li>
    <li><a href="/keyrings">Keyrings</a></li>
    <li><a href="/containers">Containers</a></li>
    <li><a href="/records">Records</a></li>
    <li><a href="/messages">Messages</a></li>
  </ul>
  <hr />
  <%- body %>
</body>
</html>
