<!doctype html>
<html>
<head>
  <title>Crypton Data Explorer</title>
  <style>
    h1 {
      font-size: 22px;
    }

    table {
      font-family: monospace;
      border-collapse: collapse;
    }

    table, td {
      border: 1px solid #ddd;
    }

    td {
      padding: 5px;
    }

    thead td {
      font-weight: bold;
    }

    tr:hover {
      background: #f5f5f5;
    }

    pre { padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
  </style>
</head>
<body>
  <h1>Crypton Data Explorer</h1>
  <ul id="nav">
    <li><a href="/accounts">Accounts</a></li>
    <li><a href="/keyrings">Keyrings</a></li>
    <li><a href="/containers">Containers</a></li>
    <li><a href="/records">Records</a></li>
    <li><a href="/messages">Messages</a></li>
  </ul>
  <%- body %>
</body>
</html>
